html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}

.footer {
  display: flex;
  max-width: 100%;
  margin: auto;
  flex-direction: column;
  align-items: center;
  background-color: #1b1b42;
  color: whitesmoke;
  padding: 0rem 4rem;
  overflow: hidden !important;
}

.footer-content-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
}
.footer-branding {
  display: flex;
  flex-direction: column;
}
.footer-logo-wrapper {
  margin-bottom: 1.75rem;
}

.footer-newsletter {
  position: relative;
  margin-bottom: 1.7rem;
  width: 100%;
}

input[type="email"]::placeholder {
  color: #fff;
}
input:focus {
  outline: none !important;
}
input[type="email"]:focus::placeholder {
  color: transparent;
}
.footer-newsletter .btn-newsletter {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;

  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  color: #0b2967;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
}
.footer-social-media-wrapper {
  display: flex;
}
.social-media {
  margin-left: 0.5rem;
}

.footer-content-container {
  display: flex;
  justify-content: flex-end;
  gap: 5rem;
  flex-basis: 75%;
  margin: auto;

  color: #fff;
  margin-right: 0.5rem;
}
.footer-content-section {
  padding: 0;
  margin: 0;
}

.footer-content-list {
  padding: 0;
  list-style-type: none;
}
.footer-content-header {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.footer-content-item {
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
  color: #ffffff80;
  margin-bottom: 1rem;
}

.footer-nav-wrapper {
  width: 100%;
  padding: 0;
  margin-top: 2rem;
  padding-bottom: 1rem;
}

.footer-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center !important;
}
.footer-rights {
  font-size: 0.75rem;
  color: #638dff;
  text-align: center;
}
.footer-nav-items {
  flex-basis: 75%;
  display: flex;
  justify-content: space-between;
}
.footer-nav-items p {
  margin: 0;
  padding: 0;
  font-size: 0.75rem;
  line-height: 4;
  margin-right: 0.5rem;
}

iframe#iframewin {
  margin-left: -11rem;
}

/* Media queries --- bootstrap style */

@media only screen and (max-width: 1400px) {
}
@media only screen and (max-width: 1200px) {
  .footer-content-container {
    flex-basis: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .footer {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .footer-content-wrapper {
    flex-direction: column;
  }

  .footer-content-container {
    margin-right: 0;
    width: 100%;
    margin-top: 1.4rem;
  }
}
@media only screen and (max-width: 768px) {
  .footer-content-wrapper {
    flex-direction: column;
  }
  .footer-branding {
    align-items: center;
  }
  .footer-social-media-wrapper {
    flex-direction: row;
  }
}
@media only screen and (max-width: 576px) {
  .footer-content-container {
    max-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    margin-top: 2rem;
  }
  .footer-branding {
    align-items: flex-start;
  }
  .footer-content-section {
    width: fit-content;
  }
  .footer-nav {
    flex-direction: column;
    margin-top: 1rem;
  }
  .footer {
    padding: 0 1rem;
  }
  .footer-nav-items {
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
  }
}
